body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 100%;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
}

ul {
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
}

.certification {
    margin-bottom: 20px;
}

.certification h3 {
    color: #333;
    margin-bottom: 10px;
}

.certification p {
    line-height: 1.6;
}