html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
}

h1 {
    font-family: Roboto;
    color: rgb(53, 205, 216);
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
}